<div ng-cloak style="align-content: center">
   

    <div class="card">
		<div class="card-action">
            <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="vm.goHome()">Home
                <i class="material-icons right">home</i>
                </button>
        
            <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="vm.goToAddParticipant()">Add New Participant
                    <i class="material-icons right">add_circle</i>
                    </button>
            <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="vm.goToRemoveParticipant()">Remove Participant
                    <i class="material-icons right">remove_circle</i>
                    </button>
            <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="vm.loadMessagesByHashtag()">Search By Hashtag
                        <i class="material-icons right">search</i>
                        </button>
                        <textarea style="background: white" id="textarea2" class="materialize-textarea" ng-model="vm.hashTag" ></textarea>
         <label for="form7">Hashtag</label>
                    </div>
	</div>
    
    
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal darken-1">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Message:</span>
                     <textarea style="background: white" id="textarea1" class="materialize-textarea" ng-model="vm.newText"></textarea>
                </div>
                <div class="card-action white">
                    <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="vm.postMsg()">Send
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
    <div>
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in vm.messageList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class = "card-image">
                            <img src = {{m.pmedia}} id="responsive-image">
                        </div>
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{m.user}}</span>
                            <!-- Here comes the message text -->
                            <p>
                                {{m.pcaption}}
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-small waves-effect waves-light blue">
				<button class="btn-floating btn-small waves-effect waves-light blue" type="submit" name="action" ng-click="vm.react()">
				<i class="material-icons">thumb_up</i>
				</button>
			    </a> 
				<span ng-bind= "m.like"> </span>
                            <a class="btn-floating btn-small waves-effect waves-light blue">
				<button class="btn-floating btn-small waves-effect waves-light blue" type="submit" name="action" ng-click="vm.dislike()">
				<i class="material-icons">thumb_down</i>
				</button>
			    </a>
                    <span ng-bind="m.dislike">  </span>
                    <button class="btn waves-effect waves-light blue " type="submit" name="action" ng-click="vm.replyToMessage(m.pid)">Reply
                        <i class="material-icons right">reply</i>
                        </button>
                            <button class="btn waves-effect waves-light blue " type="submit" name="action" ng-click="vm.viewReaction(m.pid)">View
                        <i class="material-icons right">open_in_new</i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
