<center><h1>Likes on message</h1></center>

 <div ng-cloak style="align-content: center">
    <div>
        <!--each msg is a card>-->
        <!--mark-->
        <div ng-repeat="m in vm.postList">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p>
                              {{m.first_name}}  {{m.last_name}}
                            </p>
                            <p>
                              id:  {{m.uid}}
                            </p>
                            <p  align="right" >
                                <!--mark-->
                                 <a class="btn-floating btn-small waves-effect waves-light blue" ng-click="vm.postList"><i class="material-icons">people
                            </i></a>
                                <!--mark-->
                             <a  class="btn-floating btn-small waves-effect waves-light red" ng-click="vm.postList"><i class="material-icons">info
                             </i></a> </p>
                        </div>
                        <div class="card-action">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>